<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>About - Graphico</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <link href="/static/pace/themes/pace-theme-corner-indicator.css" rel="stylesheet" />
    <!-- Add custom CSS here -->
    <link href="/static/css/modern-business.css" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Graphico</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            {% if user %}
            <li><a href="/about">About</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.name}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/newpost">Newpost</a></li>
                <li><a href="/logout"><li>{{user.name}}(Logout)</a></li>
              </ul>
            </li> 
            {% else %}
            <li><a href="/about">About</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Guest <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">SignUp</a></li>    
              </ul>
            </li> 
            {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>

    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header">About <small>A few words about the project</small></h1>
          <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">About</li>
          </ol>
        </div>

      </div>

      <div class="row">

        <div class="col-md-6">
          <img class="img-responsive" src="http://i62.tinypic.com/5n0kro.png" >
        </div>
        <div class="col-md-6">
          <h2>Welcome to 'Graphico'</h2>
          <p>The proposed system is a mass survey-cum-inference tool. It uses a Twitter
based API. It is a general tool which can be used by scientists and researchers
to find correlations between any factors they wish to research on.
</p>
          <p>Hash tags can be mined to analyze the correlations between them, over
a particular period of time. Scientists wishing to conduct researches on an
unmanageably large number of participants may
use the proposed API to automate the mining of hash tags which relate to the
survey as well as deriving logical conclusions from the mined data patterns.
</p>
        </div>

      </div>

      <!-- Team Member Profiles -->

      <div class="row">

        <div class="col-lg-12">
          <h2 class="page-header">Our Team</h2>
        </div>

        <div class="col-sm-4">
        	<img class="img-responsive" src="/static/img/aditya2.jpg">
            <h3>Adithya <small>Developer</small></h3>
            <p>App Development, Testing &amp;<br>User Documentation</p>
            <ul class="list-unstyled list-inline list-social-icons">
              <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/adhithya.krishna.1" data-toggle="tooltip" data-placement="top" title="Facebook"  target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a></li>
              <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
              <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a></li>
              <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
            </ul>
        </div>

        <div class="col-sm-4">
        	<img class="img-responsive" src="/static/img/jit.jpg">
            <h3>Jithin <small>Developer</small></h3>
            <p>App Development, Testing &amp;<br> Site Maintenance</p>
            <ul class="list-unstyled list-inline list-social-icons">
              <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/jithinrocs" data-toggle="tooltip" data-placement="top" title="Facebook" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a></li>
              <li class="tooltip-social linkedin-link"><a href="http://www.linkedin.com/in/jithinrocs" data-toggle="tooltip" data-placement="top" title="LinkedIn" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
              <li class="tooltip-social twitter-link"><a href="https://twitter.com/jithinrocs" data-toggle="tooltip" data-placement="top" title="Twitter" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a></li>
              <li class="tooltip-social google-plus-link"><a href="https://plus.google.com/+jithinjames" data-toggle="tooltip" data-placement="top" title="Google+" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
            </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
        	<img class="img-responsive" src="/static/img/josina.jpg">
            <h3>Josina <small>Developer</small></h3>
            <p>App Development,<br> Performance Evaluation &amp;  QA</p>
            <ul class="list-unstyled list-inline list-social-icons">
              <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/josina.joy.7" data-toggle="tooltip" data-placement="top" title="Facebook"  target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a></li>
              <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
              <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a></li>
              <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
            </ul>
        </div>

        <div class="col-sm-4">
        	<img class="img-responsive" src="/static/img/pallavi.jpg">
            <h3>Pallavi <small>Developer</small></h3>
            <p>App Development, Design &amp;<br> Development</p>
            <ul class="list-unstyled list-inline list-social-icons">
              <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/thepallavimohan" data-toggle="tooltip" data-placement="top" title="Facebook"  target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a></li>
              <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip" data-placement="top" title="LinkedIn" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
              <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a></li>
              <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
            </ul>
        </div>

      </div>

      <!-- Our Customers -->

      <div class="row">

        <div class="col-lg-12">
          <h2 class="page-header">Our Customers</h2>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
        	<img class="img-responsive img-customer" src="/static/img/c1.jpg">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
        	<img class="img-responsive img-customer" src="/static/img/c2.jpg">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
        	<img class="img-responsive img-customer" src="/static/img/c5.jpg">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
        	<img class="img-responsive img-customer" src="/static/img/c3.jpg">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
        	<img class="img-responsive img-customer" src="/static/img/c6.jpg">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
        	<img class="img-responsive img-customer" src="/static/img/c4.jpg">
        </div>

      </div>

    </div><!-- /.container -->

    <div class="container">

      <hr>

      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright &copy; jitrocs 2014</p>
          </div>
        </div>
      </footer>

    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/modern-business.js"></script>
    <script src="/static/pace/pace.js"></script>
  </body>
</html>