<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>Tweet Survey</title>
</head>

<body>
  <a href="/" class="main-title">
    TweetSurvey
  </a>

  <div class="login-area">
    {% if user %}
      <a class="login-link" href="/">{{user.name}}</a>
      |
      <a class="login-link" href="/newpost">newpost</a>
      |
      (<a class="login-link" href="/logout">logout</a>)
    {% else %}
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>
    {% endif %}
  </div>

  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
</body>

</html>

