<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Graphico</title>

    <link href="/static/pace/themes/pace-theme-corner-indicator.css" rel="stylesheet" />
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="/static/css/modern-business.css" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/ ">Graphico</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            {% if user %}
            <li><a href="/about">About</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{username}} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/home">New Post</a></li>
                <li><a href="/home">Results</a></li>
                <li><a href="/logout">{{username}}(Logout)</a></li>
              </ul>
            </li> 
            {% else %}
            <li><a href="/about">About</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Guest <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/login">Log in</a></li>
                <li><a href="/signup">Sign Up</a></li>
              </ul>
          </li> 
            {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
    
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <div class="fill" style="background-image:url('http://i62.tinypic.com/5n0kro.png');"></div>
            <div class="carousel-caption">
              
            </div>
          </div>
          <div class="item">
            <a href="https://twitter.com/ResearchrSurvey" target="_blank"><div class="fill" style="background-image:url('http://placehold.it/1900x1080/222930&text=Follow us: @ResearchrSurvey');"></div></a>
          </div>
          <div class="item">
            <div class="fill" style="background-image:url('http://i62.tinypic.com/5n0kro.png');"></div>
            <div class="carousel-caption">
              <!-- <h1>Follow us: <a href="https://twitter.com/ResearchrSurvey" target="_blank">#ResearchrSurvey</a></h1> -->
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="icon-next"></span>
        </a>
    </div>

    <div class="text-center">

      <div class="container">

        <div class="row">
          <div class="col-lg-12">
            <h2>Graphico: A Twitter API based mass participation survey tool</h2>
            <p>Just tweet your opinions and see the results.</p>
            <hr>
          </div>
        </div><!-- /.row -->

      </div><!-- /.container -->

    </div><!-- /.section-colored -->

    
    <div class="section-colored">

      <div class="container">

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <h2>Twitter API</h2>
            <ul>
              <li>REST API</li>
              <li>Search API</li>
              <li>Data mining feed</li>
              <li>Firehose</li>
              <li>Meaningful use of HTTP response codes</li>
              <li>Supports JSON callbacks</li>
              <li>A service for researchers and hobbyists</li>
              <li><strong>OAUTH</strong> support</li>
              <li>Intuitive and consistent URLs and parameters</li>
            </ul>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <img class="img-responsive" src="/static/img/snap1.png">
          </div>
        </div><!-- /.row -->

      </div><!-- /.container -->

    </div><!-- /.section-colored -->

    <div class="section">

      <div class="container">

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <img class="img-responsive" src="/static/img/snap2.png">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <h2>Python</h2>
            <ul>
              <li>very clear, readable syntax</li>
              <li>strong introspection capabilities</li>
              <li>natural expression of procedural code</li>
              <li>full modularity, supporting hierarchical packages</li>
              <li>very high level dynamic data types</li>
              <li>intuitive object orientation</li>
              <li>exception-based error handling</li>
              <li>extensive standard libraries and third party modules for virtually every task</li>
              <li>embeddable within applications as a scripting interface</li>
            </ul>
          </div>
        </div><!-- /.row -->

      </div><!-- /.container -->

    </div><!-- /.section -->

    <div class="section-colored">

      <div class="container">

        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <h2>Bootstrap 3 Framework</h2>
            <ul>
              <li>Bootstrap 3 Framework</li>
              <li>Mobile Responsive Design</li>
              <li>Predefined File Paths</li>
              <li>Minimal Custom CSS Styles</li>
              <li>Unstyled: Add Your Own Style and Content!</li>
              <li>Font-Awesome fonts come pre-installed!</li>
              <li>100% <strong>Free</strong> to Use</li>
              <li>Open Source: Use for any project, private or commercial!</li>
            </ul>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <img class="img-responsive" src="/static/img/snap3.png">
          </div>
        </div><!-- /.row -->

      </div><!-- /.container -->

    </div><!-- /.section-colored -->

<!--     <div class="container">

      <div class="row well">
        <div class="col-lg-8 col-md-8">
          <h4>'Modern Business' is a ready-to-use, Bootstrap 3 updated, multi-purpose HTML theme!</h4>
          <p>For more templates and more page options that you can integrate into this website template, visit Start Bootstrap!</p>
        </div>
      </div>  //row 

    </div>  //container
 -->

<div class="section">

      <div class="container">

        <div class="row">
           <div class="col-lg-12 text-center">
            <h2>Graphico Application Workflow</h2>
            <hr>
          </div>
          <div class="col-lg-4 col-md-4">
            <h3><i class="fa fa-check-circle"></i> Design</h3>
            <p>
              Build your own surveys.</p>
            <img class="img-responsive" src="/static/img/d1.jpg">
          </div>
          <div class="col-lg-4 col-md-4">
            <h3><i class="fa fa-pencil"></i> Collect</h3>
            <p>
              Choose how to distribute and start collecting responses.</p>
              <img class="img-responsive" src="/static/img/d4.jpg">
          </div>
          <div class="col-lg-4 col-md-4">
            <h3><i class="fa fa-folder-open"></i> Analyze</h3>
            <p>
              Use our analytical tools for intelligent insights.</p>
              <img class="img-responsive" src="/static/img/d3.jpg">
          </div>
        </div><!-- /.row -->

      </div><!-- /.container -->

    </div><!-- /.section -->
 
    <div class="container">

      <hr>

      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright &copy; jitrocs 2014</p>
          </div>
        </div>
      </footer>

    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/modern-business.js"></script>
    <script src="/static/pace/pace.js"></script>
  </body>
</html>
