<!doctype html>
<html >
<head>
  <meta charset="utf-8">
  <title>SimpleAuth demo</title>
  <meta name="author" content="cloudware.it">
  <link rel="stylesheet" href="/csss/style.css">
</head>

<body>
  <header>
    <h1><a href="/">SimpleAuth demo</a></h1>
  </header>
  <div role="main" class="container" style="margin-bottom: 2em;">
    {% for data, name in flashes %}
      <h2>{{ name }}</h2>
      <table>
        <tbody>
          {% for k, v in data.items() -%}
            <tr>
              <td style="padding-right: 5px">{{ k }}:</td>
              <td>{{ v }}</td>
            </tr>
          {% endfor -%}
        </tbody>
      </table>
    {% endfor %}

    {% block main %}{% endblock %}
  </div>
  <footer>
    <nav><ul class="inline bull">
      <li>Source code and usage example:<br>
        <a href="https://github.com/crhym3/simpleauth" target="_blank"
           title="Source code">
          github.com/crhym3/simpleauth
        </a>
      </li>
    </ul></nav>
  </footer>
</body>
</html>
