{% extends "base.html" %}

{% block content %}

    <h1><div>Enter the survey question below </div></h1>

    <form method="post">
      <label>
        <textarea name="content">{{content}}</textarea>
      </label>

    <div class="error">{{error}}</div>
    <input type="submit">
    </form>
{% endblock %}
