<div class="post">
  <div class="post-heading">
    <div class="post-title">
      <a href="{{p.key().id()}}">Tweet #{{p.key().id()}}</a>
    </div>

    <div class="post-date">
      {{p.created.strftime("%b %d, %Y")}}
    </div>
  </div>

  <div class="post-content">
    {{p._render_text | safe}}
  </div>
</div>
