<!DOCTYPE html>

<html>
  <head>
    <title>TweetSurvey Welcome</title>
  </head>

  <body>
    <h2>Welcome, {{username}}!</h2>
    <div><a class="login-link" href="/">Click here to go to MainPage</a></div>
    <div><a class="login-link" href="/newpost">Click here to go to NewPost</a></div>
  </body>
</html>
